# Randomly generated JWT secret, at least 32 characters long, do not reveal this to anyone
# REQUIRED
JWT_SECRET=random-jwt-secret-random-jwt-secret-random-jwt-secret

# Max age of user session in seconds
# NOT REQUIRED
COOKIE_MAX_AGE=

# Disable Next.js telemetry
NEXT_TELEMETRY_DISABLED=1

# Use real data or mock. Used for development purposes
# VALUES: true | false
# NOT REQUIRED
USE_REAL_DATA=false

# Type of version check for Ronin UI updates
# VALUES: production | staging
# NOT REQUIRED
VERSION_CHECK=production
